name: Build and populate cache

on:
  workflow_dispatch:
  workflow_run:
    workflows:
      - Bump Flake Inputs
    types:
      - completed
  push:
    paths:
      - "pkgs"
      - "**.lock"
      - ".github/workflows/build.yml"

jobs:
  build:
    name: Build (${{ matrix.system }})
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            system: x86_64-linux
          - os: macos-latest
            system: aarch64-darwin
          - os: ubuntu-24.04-arm
            system: aarch64-linux

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install Lix
        uses: samueldr/lix-gha-installer-action@v2025-10-27

      - name: Setup Attic
        uses: ryanccn/attic-action@v0.4.1
        with:
          inputs-from: flake.lock
          endpoint: https://cache.tgirl.cloud
          cache: tgirlcloud
          token: ${{ secrets.ATTIC_TOKEN }}
          exclude-paths: "(-(vendor(-staging)?|source|(npm|pnpm)-deps)$)|electron"

      - name: Build from the matrix
        run: |
          nix run \
            github:Mic92/nix-fast-build -- \
            --no-nom \
            --skip-cached \
            --systems '${{ matrix.system }}' \
            --option accept-flake-config true \
            --flake '.#hydraJobs.${{ matrix.system }}'

